*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
nbproject/
.idea
node_modules/

/composer.lock
/upload/*
/fuel/app/logs/*
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php

/fuel/core/*
/fuel/vendor/*
/fuel/packages/*
